
* {
    margin: 0;
    padding: 0;
    outline: none;
    user-select: none;
}

body {
    margin: 0;
}

img {
    /* position: absolute; */
    position: fixed;
    width: 100%;
    height: auto;
    min-height: 100%;
    min-width: 1024px;
}

.container {
    height: 100vh;
    overflow: hidden;
}
