
@media screen and (min-width: 300px) and (max-width: 800px) {

    .description {
        font-size: 25px;
        bottom: 20px;
        top: auto;
        text-shadow: black 1px 5px 1px;
    }

    .title {
        flex-wrap: wrap;
        font-size: 70px;
    }

    .tittle-2 {
        letter-spacing: 5px;
        font-size: 65px;
    }

    .title-section {
        background: url(../images/london-taxi.jpg);
        background-position: center;
        background-size: cover;
    }

    .roadlist li {
        margin: 0;
    }

    .roadlist li img {
        width: 250px;
        height: 200px;
    }

    .storeBox1 img, .storeBox2 img {
        width: 200px;
        height: 200px;
        display: none;
    }

    .mainlist {
        flex-direction: row;
        top: 20%;
    }

    .mainlist li {
        margin: 0 5px;
    }

    .storeBox1 h3, .storeBox2 h3 {
        display: none;
    }

    .rulelist {
        top: 20%;
        flex-direction: column;
    }

    .rulelist li {
        margin: 20px 0;
    }

    footer img  {
        position: relative;
        bottom: 50%;
        right: 0;
        left: 0;
        width: 185px;
        height: 205px;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 375px;
        background: linear-gradient(rgba(136, 18, 18, 0.959), #091921);
    }

    .roadlist {
        top: 25%;
    }

    body {
        background: linear-gradient(rgba(136, 18, 18, 0.959), #091921);
    }

    .title-result {
        font-size: 60px;
        letter-spacing: 5px;
    }

    .resultText {
        flex-wrap: wrap;
        letter-spacing: -2px;
        font-size: 35px;
        text-shadow: white 1px 5px 1px;
    }
}