
* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.hero {
    height: 100vh;
    width: 100%;
    background: white;
    position: relative;
    background-size: cover;
    background-position: center;
    background: url(../images/background.png);
    /* background-image: url(/images/background.png); */
    /* background: url(/images/background.png) center cover; */
    /* background: white; */
}

.logo {
    position: absolute;
    width: 250px;
    height: 100px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.logo img {
    width: 150px;
}

.content h3 {
    text-shadow: black 5px 5px 1px;
    font-size: 75px;
    text-align: center;
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.6);
}

.text-box {
    transform: rotate(-90deg);
    position: absolute;
    top: 45%;
    text-align: center;
    user-select: none;
}

.text-box h1 {
    font-size: 30px;
    font-weight: 100;
}

.text-box h4 {
    margin: 7px 10px 0px;
    /* margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 7px; */
}

.line {
    width: 80px;
    height: 2px;
    margin: auto;
    background: black;
}

.content {
    color: white;
    position: absolute;
    right: 200px;
    top: 50%;
    transform: translateY(-50%);
}

.content h1 {
    cursor: default;
    font-size: 100px;
    text-shadow: black 5px 5px 1px;
    user-select: none;
}

.content p {
    margin: 10px 0 40px;
    cursor: default;
    font-size: 25px;
    user-select: none;
}

.btn {
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 10px 0;
    /* background: inherit; */
    /* color: black; */
    color: white;
    border-radius: 3px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.3);
}

.btn img {
    width: 75px;
    margin-right: 15px;
    outline: none;
}

#backvideo {
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}

@media (min-aspect-ratio: 16/9) {
    #backvideo {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 640px) {
    * {
        user-select: none;
    }

    .content {
        /* position: absolute; */
        right: 50px;
        top: 35%;
        transform: translateY(-50%);
    }

    .content h1 {
        color: black;
        text-shadow: white 5px 4px 2px;
        position: relative;
        bottom: 0px;
        font-size: 100px;
    }

    .content p {
        visibility: hidden;
    }
    
    .btn {
        position: relative;
        top: 275px;
        left: 17%;
        width: 350px;
        color: white;
        border-radius: 350px;
        font-size: 30px;
        /* cursor: pointer; */
        background: rgba(26, 23, 23, 0.733);
    }
    
    #icon {
        position: relative;
        margin: 0;
        padding: 0;
        right: 5px;
    }

    #backvideo {
        display: flex;
        height: 100vh;
        width: 100vh;
    }
}

@media (min-width: 300px) {
    .content h1 {
        font-size: 80px;
        left: 50px;
    }

    .btn {
        width: 325px;
        left: 15%;
        top: 235px;
        font-size: 37px;
    }
}