
@media screen and (min-width: 300px) and (max-width: 800px) {

    .maincontainer {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .hexagonTittle-1, .hexagonTittle-2, .hexagonTittle-3, .hexagonTittle-4, .hexagonTittle-5 {
        top: 0;
        position: relative;
        font-size: 20px;
        left: -10px;
    }

    .hexagonBlock-5, .hexagonBlock-6 {
        display: none;
    }
}