
/* @import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,900&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: "Poppins", sans-serif;
}

.navigation {
    display: flex;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111;
    transition: 0.2s;
}

.navigation.active {
    visibility: visible;
    opacity: 1;
}

.navigation .navArea {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
    height: 100%;
}

.navigation .navArea ul li {
    list-style: none;
}

.navigation .navArea ul li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: red; */
    z-index: -1;
    opacity: 0;
    transition: 0.5s;
}

.navigation .navArea ul li:hover::before {
    opacity: 1;
}

.navigation .navArea ul li:nth-child(1):before {
    background: #22c437;
}

.navigation .navArea ul li:nth-child(2):before {
    background: #ffde0f;
}

.navigation .navArea ul li:nth-child(3):before {
    background: #d28759;
}

.navigation .navArea ul li:nth-child(4):before {
    background: #72a785;
}

.navigation .navArea ul li:nth-child(5):before {
    background: #01080e;
}

.navigation .navArea ul li:nth-child(6):before {
    background: #137ac7;
}

.navigation .navArea ul li a {
    font-size: 40px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255,255,255,0.5);
}

.navigation .navArea ul li a:hover {
    color: inherit;
}

.navigation .navArea ul li:nth-child(1):hover {
    color: yellow;
}

.navigation .navArea ul li:nth-child(2):hover {
    color: black;
}

.navigation .navArea ul li:nth-child(3):hover {
    color: white;
}

.navigation .navArea ul li:nth-child(4):hover {
    color: black;
}

.navigation .navArea ul li:nth-child(5):hover {
    color: white;
}

.navigation .navArea ul li:nth-child(6):hover {
    color: white;
}

.imgArea {
    position: relative;
    width: 50%;
    height: 100vh;
    background: #f00;
}

.imgArea img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.menuToggle {
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 40px;
    height: 50px;
    width: 50px;
    background: #000 url(images/menu.png);
    z-index: 1000;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.menuToggle.active {
    background: #000 url(images/close.png);
    z-index: 1000;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.tittle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: default;
    font-size: 40px;
    position: fixed;
    left: 25%;
    top: 45%;
    transition: 0s;
}

.tittle.active {
    opacity: 0;
    display: none;
    visibility: hidden;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .navigation .navArea {
        width: 100%;
        z-index: 10;
    }

    .imgArea {
        position: absolute;
        width: 100%;
        opacity: 0.7;
    }

    .navigation .navArea ul li:hover::before {
        opacity: 0;
        transition: 0.5s;
    }

    .navigation .navArea ul li {
        background: white;
        margin: 5px 10px;
        padding: 5px 10px;
        transition: 0.5s;
    }

    /* .menu-item {
        transition: 0.4s;
    } */

    .navigation .navArea ul li:nth-child(1):hover {
        background: #905c49;
    }

    .navigation .navArea ul li:nth-child(2):hover {
        background: #ffde0f;
    }

    .navigation .navArea ul li:nth-child(3):hover {
        background: #e743be;
    }

    .navigation .navArea ul li:nth-child(4):hover {
        background: #72a785;
    }

    .navigation .navArea ul li:nth-child(5):hover {
        background: black;
    }

    .navigation .navArea ul li:nth-child(6):hover {
        background: #137ac7;
    }

    .navigation .navArea ul li:nth-child(1):hover {
        color: white;
    }
    
    .navigation .navArea ul li:nth-child(2):hover {
        color: black;
    }
    
    .navigation .navArea ul li:nth-child(3):hover {
        color: black;
    }
    
    .navigation .navArea ul li:nth-child(4):hover {
        color: white;
    }
    
    .navigation .navArea ul li:nth-child(5):hover {
        color: white;
    }
    
    .navigation .navArea ul li:nth-child(6):hover {
        color: white;
    }

    .navigation .navArea ul li a {
        color: black;
        font-size: 30px;
        font-weight: 300;
    }

    .navigation .navArea ul {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .tittle {
        left: 3%;
        /* display: none; */
        /* opacity: 0; */
        /* visibility: hidden; */
    }
}