
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

header {
    width: auto;
    height: 110px;
    background: black
}

.front-page {
    width: auto;
    height: 865px;
    background: url(images/tax.jpeg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.main-section {
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, 
    rgba(9,9,121,0.9587185215883228) 50%,
     rgba(4, 255, 242, 0.945) 92%);
    width: auto;
    height: 1350px;
}

.resultForm {
    visibility: hidden;
    /* visibility: visible; */
    text-align: center;
    position: absolute;
    width: 100%;
    height: 750px;
    background: white;
    /* filter:brightness(100%); */
    opacity: 0.8;
    top: 200%;
    border: black 20px solid;
    border-left: black 20px solid;
    border-radius: 5%;
}

.resultColor {
    position: absolute;
    bottom: 25px;
    left: 46.5%;
    width: 75px;
    height: 75px;
    border: gray 7.5px ridge;
}

.secondResultColor {
    position: absolute;
    bottom: 25px;
    left: 40.5%;
    width: 75px;
    height: 75px;
    border: gray 7.5px ridge;
}

.tittle {
    text-transform: uppercase;
    cursor: default;
    font-family: 'Do Hyeon', sans-serif;
    text-transform: uppercase;
    position: absolute;
    color: white;
    top: 23%;
    left: 15%;
    width: auto;
    font-size: 85px;
    text-shadow: black 5px 4px 5px;
}

.tittle-2 {
    font-family: 'Rubik Mono One', sans-serif;
    /* text-transform: uppercase; */
    cursor: default;
    letter-spacing: 10px;
    text-align: center;
    position: relative;
    top: 7%;
    color: white;
    font-size: 70px;
    text-shadow: black 10px 10px 5px;
}

.tittle_store-1, .tittle_store-2 {
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Rubik Mono One', sans-serif;
    letter-spacing: 10px;
    text-align: center;
    text-shadow: black 5px 10px 5px;
}

.tittle-result {
    text-align: center;
    position: relative;
    top: 12%;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 100px;
}

.text-result {
    font-family: 'Seymour One', sans-serif;
    letter-spacing: 6.5px;
    text-align: center;
    font-size: 50px;
    top: 27.5%;
    position: relative;
}

.resultColor-text {
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
    position: absolute;
    bottom: 135px;
    letter-spacing: 5px;
    left: 37.7%;
    font-size: 40px;
}

.menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    position: relative;
    top: 12px;
    width: auto;
    height: 50px;
}

.menu-list li {
    list-style: none;
    font-size: 65px;
}

.li-frontpage {
    margin-top: 10px;
}

.li-main {
    margin-top: 10px;
}

.li-parthers_contacts {
    margin-top: -3px;
}

.storelist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 25%;
    list-style: none;
}

.link-mainsection {
    font-family: 'Rubik Mono One', sans-serif;
    letter-spacing: -4px;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.parthers_contacts-link {
    font-family: 'Anton', sans-serif;
    text-decoration: none;
    color: white;
    letter-spacing: 1.5px;
    transition: 0.5s;
}

.frontpage-link {
    font-family: 'Rubik Mono One', sans-serif;
    text-decoration: none;
    color: white;
    letter-spacing: -7px;
    transition: 0.5s;
}

.frontpage-link:hover, .parthers_contacts-link:hover, .link-mainsection:hover {
    color: red;
    transition: 1s;
}

.tittle_color {
    display: block;
    user-select: text;
    /* visibility: hidden; */
    visibility: visible;
    cursor: default;
    text-align: center;
    margin-bottom: 25px;
    background: black;
    color: white;
    font-size: 30px;
    text-transform: capitalize;
    /* text-transform: uppercase; */
}

.colorset-1 {
    width: 200px;
    height: 200px;
    border: gray 10px ridge;
}

.colorset-1:hover {
    cursor: pointer;
}

.colorset-2 {
    width: 200px;
    height: 200px;
    border: gray 10px ridge;
}

.colorset-2:hover {
    cursor: pointer;
}

.img-road1 {
    transform: rotate(-25deg);
    width: 350px;
    height: 250px;
}

.img-road2 {
    transform: rotate(25deg);
    width: 350px;
    height: 250px;
}

.git-img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    transition: 1s;
}

.git-img:hover {
    border: rgb(7, 209, 7) 25px double;
    transition: 0.7s;
}

.git-block {
    width: 250px;
    /* height: auto; */
    height: 250px;
    border-radius: 50%;
    position: relative;
    top: 10px;
    left: 42%;
}


.img-store {
    width: 375px;
}

.p-description {
    user-select: text;
    font-family: 'Roboto', sans-serif;
    cursor: default;
    position: absolute;
    color: white;
    top: 40%;
    left: 15%;
    font-size: 65px;
    width: auto;
    text-shadow: black 1px 5px 1px;
}

.p-description-2 {
    user-select: text;
    font-family: 'Roboto', sans-serif;
    cursor: default;
    position: relative;
    color: white;
    font-size: 40px;
    letter-spacing: 0.5px;
    width: 1175px;
    text-shadow: black -5px -2px 1.5px;
    top: 55%;
    left: 15%;
}

.wayslist {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    top: 20%;
}

.limInp {
    border: blue 5px solid;
    border-radius: 15px;
    position: relative;
    outline: none;
    top: 25%;
    left: 36%;
    width: 435px;
    height: 75px;
    font-size: 45px;
}

.limInp::placeholder {
    color: black;
}

.limitRandomButton {
    position: relative;
    right: 35%;
    top: 24%;
    width: 200px;
    height: 75px;
    outline: none;
    border: rgb(12, 12, 12) 5px solid;
    border-radius: 15px;
}

.limitRandomButton::placeholder {
    font-size: 23px;
    color: black;
}

.way-1 {
    position: relative;
    left: 75px;
}

.way-2 {
    position: relative;
    right: 100px;
}

.roadcost-1, .roadcost-2 {
    display: none;
}

.roadcost-1 div {
    border-radius: 35px;
    position: relative;
    left: 125px;
    top: 50%;
    width: 200px;
    height: 75px;
    background: black;
}

.roadcost-2 div {
    border-radius: 35px;
    position: relative;
    top: 50%;
    right: 175px;
    height: 75px;
    width: 200px;
    background: black;
}

.roadcost-tittle1, .roadcost-tittle2 {
    font-family: 'Anton', sans-serif;
    font-weight: 100;
    letter-spacing: 5px;
    text-align: center;
    text-transform: capitalize;
    font-size: 45px;
    color: white;
    cursor: default;
}


.colorcost-1, .colorcost-2, .taxcost-1, .taxcost-2 {
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 45px;
    width: auto;
    background: black;
    color: white;
    /* cursor: default; */
}

.limButt {
    outline: none;
    cursor: pointer;
    position: relative;
    text-align: center;
    font-size: 33px;
    background: seagreen;
    border: cornflowerblue 5px solid;
    border-radius: 20px;
    left: 12%;
    top: 33%;
    width: 250px;
    height: 50px;
    transition: 0.4s;
}

.limButt a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.limButt:hover{
    border-color: whitesmoke;
    background: green;
    transition: 0.5s;
}

.limButt a:hover {
    color: red;
    transition: 0.5s;

}

.closeButton {
    position: absolute;
    right: 35px;
    top: 20px;
    width: 60px;
    height: 60px;
    font-size: 42px;
    border-radius: 50%;
    /* border-color: black; */
    border: 5px black solid;
    /* color: red; */
    color: black;
    font-weight: bolder;
    outline: none;
    transition: 0.2s;
}

.closeButton:hover {
    background: red;
    transition: 0.2s;
    cursor: pointer;
}

footer {
    width: auto;
    height: 275px;
    background: linear-gradient(rgba(9,9,121,0.9587185215883228), #091921);
}

/* .company-1, .company-2 {
    visibility: hidden;
    width: 200px;
    height: 150px;
    border: gray 15px groove;
} */
