@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

section div {
    position: relative;
    width: 50%;
    overflow: hidden;
}

.box-1 {
    width: 50%;
    background: url(images/img.jpg);
    background-size: cover;
    box-sizing: border-box;
}

.box-2 {
    background: url(images/img.jpg);
    background-size: cover;
    transform: scale(-1, 1);
}

section div h2 {
    position: absolute;
    white-space: nowrap;
    font-size: 12em;
    line-height: 100vh;
}

section div:nth-child(1) h2 {
    left: 100%;
    animation: animat 45s linear infinite;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #fff;
    -webkit-text-fill-color: transparent;
}

section div:nth-child(2) h2 {
    left: 100%;
    color: #fff;
    animation: animat 45s linear infinite;
}

@keyframes animat
{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}