@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    user-select: none;
    box-sizing: border-box;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section h2 {
    position: relative;
    font-size: 20vw;
    text-align: center;
    line-height: 0.75em;
    text-transform: uppercase;
    font-weight: 800;
}

section h2 span {
    font-size: 18.2vw;
    color: transparent;
    -webkit-text-stroke: 0.3vw #000;
}

section .black {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    mix-blend-mode: difference;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
