
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  margin: 0;
  font-family: 'Bad Script', sans-serif;
}

@media (max-width: 640px) {
  .slider {
    height: 100vh;
    flex-direction: column;
  }

  .item {
    width: 100%;
    user-select: none;
    cursor: none;
  }

  .item:hover {
      flex-grow: 30%;
  }

}
