.slider {
    display: flex;
    justify-content: center;
}

.item {
    user-select: none;
    border: 1px solid black;
    cursor: default;
    height: 100vh;
    display: flex;
    flex-basis: 35%;
    justify-content: center;
    align-items: center;
    background-color: #aeaeae;
    transition: all 2s;
}

.item:hover {
    flex-basis: 70%;   
}

span {
    color: white;
    font-size: 70px;
    text-shadow: 5px 10px 5px black;
}

.item:hover span {
    font-size: 100px;
    transition: 0.5s;
    color: aquamarine;
}

.item-1 {
    background: url(../img/1.jpg) center;
    background-size: cover;
}

.item-2 {
    background: url(../img/2.jpg) center;
    background-size: cover;
}

.item-3 {
    background: url(../img/3.jpg) center;
    background-size: cover;
}
