
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

a {
    text-decoration: none;
}

.list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.right-side {
    width: 766px;
    height: 100vh;
    background-image: url(/img/space.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
}

.right-side:hover, .left-side:hover {
    transition: 1s;
}

.left-side {
    width: 770px;
    height: 100vh;
    background-image: url(/img/moonlight.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    transition: 1s;
}

.space-text {
    position: relative;
    left: 5%;
    top: 25%;
    width: 500px;
    height: auto;
    transition: 2s;
}

.moonlight-text {
    text-align: center;
    position: relative;
    top: 37%;
    font-size: 70px;
    color: white;
    font-family: 'Poppins', sans-serif;
}
