
* {
    user-select: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
    /* cursor: pointer; */
}

body {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    min-height: 100vh;
    background: black;
    overflow: hidden;
}

.hexagon {
    position: relative;
    margin: 1px;
    width: 100px;
    height: 110px;
    background: #111;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: 2s;
    z-index: 3;
}

.hexagon::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.02);
    z-index: 1000;
}

/* .hexagon::after {
    content: '';
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    background: #111;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
} */

/* .hexagon:hover {
    background: #0f0;
    transition: 0s;
} */

.container {
    /* animation: anime 2.5s linear infinite; */
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.stringOrRow {
    display: inline-flex;
    margin-top: -32px;
    margin-left: -50px;
}

.stringOrRow:nth-child(even) {
    margin-left: 1px;
}

#cursor {
    animation: anime 2.5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 500px;
    background: #0f0;
    border-radius: 0%;
    transform: translate(-50%, -50%);
    transform: rotate(45deg);
    z-index: 1;
}

#cursor::before {
    content: '';
    animation: anime 2.5s linear infinite;
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 500px;
    background: #0f0;
    border-radius: 0%;
    transform: translate(-50%, -50%);
    z-index: 1;
    transform: rotate(100deg);
}

@keyframes anime {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

@media screen and (min-width: 300px) and (max-width: 800px) {
    #cursor, #cursor::before {
        width: 100px;
        height: 450px;
    }

    .container {
        height: calc(100% + 150px);
        width: calc(100% + 150px);
        overflow: hidden;
    }
    
    body {
        overflow: hidden;
        height: 100%;
        width: 100%;
    }
}