
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    user-select: none;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url(assets/background.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.img-logo {
    user-select: none;
    width: 100px;
    cursor: default;
}

.navbar {
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    user-select: none;
    cursor: pointer;
    color: white;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid white;
    border-radius: 70px;
    font-style: oblique;
    text-align: center;
}

button a {
    color: white;
    text-decoration: none;
}

.content {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8%;
    z-index: 2;
}

.content small {
    cursor: default;
}

h1 {
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px;
    cursor: default;
}

.side_bar {
    width: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(270deg, rgba(14,65,210,0.950315160243785) 39%, rgba(1,168,127,1) 61%);
    position: absolute;
    right: 0;
    top: 0;
}

.side_bar img {
    user-select: none;
}

.menu {
    display: block;
    width: 25px;
    margin: 40px auto 0;
}

.social-links img, .useful-links img {
    width: 55px;
    margin: 5px auto;
    /* cursor: pointer; */
    user-select: none;
}

.social-links {
    /* cursor: pointer; */
    width: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* useless links */

.useful-links {
    width: 50px;
    text-align: center;
    position: absolute;
    bottom: 30px;
    cursor: default;
}

.bubbles img {
    user-select: none;
    width: 50px;
    animation: bubbleFall 3s linear infinite;
    transition: 1s;
}

.bubbles img:hover {
    /* visibility: hidden; */
    opacity: 0;
    transition: 1s;
}

.bubbles  {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* justify-content: space-around; */
    position: absolute;
    /* top: 50%;
    transform: translateY(-50%); */
    bottom: -70px;
}

@keyframes bubbleFall{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }

    100%{
        transform: translateY(-80vh);
        opacity: 0;   
    }
}

.bubbles img:nth-child(1) {
    animation-delay: 2s;
    width: 25px;
} 

.bubbles img:nth-child(2) {
    animation-delay: 4s;
    width: 75px;
} 

.bubbles img:nth-child(3) {
    animation-delay: 1s;
    width: 10px;
} 

.bubbles img:nth-child(4) {
    animation-delay: 7s;
    width: 40px;
} 

.bubbles img:nth-child(5) {
    animation-delay: 3.5s;
    width: 150px;
} 

.bubbles img:nth-child(6) {
    animation-delay: 3s;
    width: 75px;
} 

.bubbles img:nth-child(7) {
    animation-delay: 5s;
    width: 5px;
}

@media (max-width: 600px) {
    .kek-button {
        position: relative;
        left: 70px;
        top: 20px;
        border: white 5px solid;
        width: 250px;
        height: 75px;
        font-size: 21.5px;
        text-shadow: black 5px 3.7px 2px;
    }

    .nonSign-button {
        display: none;
    }

    .content h1 {
        text-shadow: black 5px 5px 1px;
        font-size: 83.5px;
    }
    
    .content small {
        position: relative;
        left: 15%;
        /* bottom: 25px; */
        font-size: 55px;
        text-shadow: black 5px 5px 1px;
    }

    .img-logo {
        position: relative;
        left: 35.5%;
        top: 5px;
        width: 250px;
        height: 100px;
    }

    .side_bar {
        display: none;
    }
}

@media(min-width: 300px) {
    .kek-button {
        position: relative;
        left: 35px;
        top: 10px;
        border: white 5px solid;
        width: 250px;
        height: 100px;
        font-size: 30px;
        text-shadow: black 5px 3.7px 2px;
    }
    
    .content small {
        position: relative;
        left: -5%;
        font-size: 50px;
    }

    .img-logo {
        position: relative;
        left: 7%;
        top: 0;
        width: 250px;
        height: 100px;
    }
}
