

* {
    margin: 0;
    padding: 0;
}

.content h2 {
    cursor: default;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #16384c;
}

.container {
    display: flex;
    position: relative;
    width: 1110px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.container .card {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 300px;
    height: 215px;
    background: white;
    box-shadow: 0px 5px 202px rgba(0,0,0, 0.5);
    margin: 30px 10px;
    padding: 20px 15px;
    transition: 0.5s ease-in-out;
}

.container .card:hover {
    height: 420px;
}

.container .card .img-box {
    position: relative;
    height: 260px;
    width: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
}

.container .card .img-box img {
    cursor: pointer;
    max-width: 100%;
    border-radius: 10px;
}

.container .card .content {
    position: relative;
    top: 25px;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: black;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.2s;
}

.content p {
    position: relative;
    top: 10px;
}