@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #0a2a43;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before {
    z-index: 1000;
    content: "";
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(to top, #0a2a43, transparent);
}

.second {
    position: relative;
    padding: 100px;
}

.second h2 {
    text-align: center;
    /* text-transform: capitalize; */
    font-size: 2.5em;
    /* font-size: 40px; */
    color: white;
    margin-bottom: 10px;
}

.second p {
    font-size: 1.2em;
    color: white;
}

#bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#cloud1 {
    position: absolute;
    left: 0;
    top: 100px;
    max-width: 600px;
}

#cloud2 {
    position: absolute;
    right: 0;
    top: 100px;
    max-width: 600px;
}

#jet {
    position: absolute;
    top: 50px;
    left: 150px;
    transform: scale(0);
    max-width: 100%;
}

#ironman {
    position: absolute;
    top: 110%;
    z-index: 100;
    width: 50px;
    transform: scale(0);
}

#moon {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 100%;
}

@media (max-width: 600px) {
    #cloud1, #cloud2 {
        display: none;
    }
    
    .second h2 {
        text-align: center;
        /* text-transform: capitalize; */
        font-size: 3em;
        /* font-size: 40px; */
        color: white;
        position: relative;
        bottom: 55px;
    }

    #jet {
        top: 0;
        left: 0;
        width: calc(100%) + 150px;
        height: 450px;
    }
}
