* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  user-zoom: fixed;
}

body{
  margin: 0;
  font-family: 'Bad Script', sans-serif;
  /* лол, бэд скрипт ) */
}

@media (max-width: 640px){
  .slider{
    height: 100vh;
    flex-direction: column;
  }
  .item{
    width: 100%;
    user-select: none;
    cursor: none;
  }
  .item:hover{
    flex-grow: 30%;
  }
}