
@media (max-width: 600px) {

    header {
        height: 250px;
    }

    .front-page {
        height: 1000px;
    }

    .menu-list {
        flex-direction: column-reverse;
        top: 35%;
        align-items: center;
    }

    .menu-list li {
        margin: 10px 0px 20px 0px;
        font-size: 75px;
    }

    .tittle {
        top: 50%;
        font-size: 105px;
    }

    .p-description {
        top: 11em;
    }

    .p-description-2 {
        display: none;
    }

    .main-section {
        height: 1000px;
    }

    .storelist {
        /* flex-direction: column; */
        flex-direction: row;
        top: 12%;
    }

    .store-1, .store-2 {
        display: none;
    }

    .wayslist {
        display: none;
    }

    .tittle_color {
        display: flex;
        width: 250px;
    }

    .limInp {
        top: 25%;
        left: 17%;
    }

    .limitRandomButton {
        top: 5%;
        left: -15%;
    }

    .limButt {
        font-size: 40px;
        letter-spacing: 1px;
        left: 20%;
        top: 30%;
        width: 300px;
        height: 75px;
    }

    .resultColor {
        left: 50%;
    }

    .secondResultColor {
        left: 35%;
    }

    .git-block {
        left: 27%;
    }

    .text-result {
        top: 20%;
        font-size: 45px;
        letter-spacing: 3px;
    }

    .resultColor-text {
        font-size: 35px;
        left: 28%;
        bottom: 15%;
    }
}

@media(max-width: 700px) {
    
    header {
        height: 250px;
    }

    .front-page {
        height: 1000px;
    }

    .menu-list {
        flex-direction: column-reverse;
        top: 35%;
        align-items: center;
    }

    .menu-list li {
        margin: 10px 0px 20px 0px;
        font-size: 75px;
    }

    .tittle {
        top: 50%;
        font-size: 105px;
    }

    .p-description {
        top: 11em;
    }

    .p-description-2 {
        display: none;
    }

    .main-section {
        height: 1000px;
    }

    .storelist {
        /* flex-direction: column; */
        flex-direction: row;
        top: 12%;
    }

    .store-1, .store-2 {
        display: none;
    }

    .wayslist {
        display: none;
    }

    .tittle_color {
        display: flex;
        width: 250px;
    }

    .limInp {
        top: 25%;
        left: 17%;
    }

    .limitRandomButton {
        top: 5%;
        left: -15%;
    }

    .limButt {
        font-size: 40px;
        letter-spacing: 1px;
        left: 20%;
        top: 30%;
        width: 300px;
        height: 75px;
    }

    .resultColor {
        left: 50%;
    }

    .secondResultColor {
        left: 35%;
    }

    .git-block {
        left: 27%;
    }

    .text-result {
        top: 20%;
        font-size: 45px;
        letter-spacing: 3px;
    }

    .resultColor-text {
        font-size: 35px;
        left: 28%;
        bottom: 15%;
    }
}