/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

span {
    cursor: pointer;
    font-size: 25px;
}

body {
    background: #091921;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    background: rgba(255,255,255,0.05);
    box-shadow: 5px 5px 30px rgb(0 0 0 / 20%);
    backdrop-filter: blur(10px);
    border: 5px solid rgba(255,255,255,0.05);
}

.calculator {
    position: relative;
    display: grid;
}

.calculator .value {
    grid-column: span 4;
    border: none;
    height: 100px;
    text-align: right;
    outline: none;
    padding: 10px;
    background: #0f3a50;
    color: white;
    cursor: default;
    font-size: 30px;
    width: 300px;
    border: 5px solid rgba(255, 255, 255, 0.05);
}

.calculator span {
    user-select: none;
    cursor: pointer;
    display: grid;
    width: 75px;
    height: 75px;
    color: white;
    background: #0c2935;
    place-items: center;
    border: 4px solid #0c2935;
    font-size: 30px;
    transition: 0.5s;
    border-bottom: 1px solid rgba(255,255,255,0.05);
    border-right: 1px solid rgba(255,255,255,0.05);
}

.calculator span:hover {
    background: rgba(255,255,255,0.05);
    transition: 0s;
    cursor: pointer;
    color: rgb(0, 212, 35);
}

.calculator span:active {
    background: black;
    color: rgb(9, 165, 35);
}

.calculator span.clear {
    grid-column: span 2;
    width: 150px;
    color: white;
    background: #ff3077;
}

.calculator span.clear:hover {
    color: black;
}

.calculator span.clear:active {
    background: #b61e53;
    color: #091921;
}

.calculator span.plus {
    grid-row: span 2;
    height: 150px;
}

.calculator span.equal {
    background: #03b1ff;
}

.calculator span.equal:hover {
    color: black;
}

.calculator span.equal:active {
    background: #2ba2da;
    color: white;
}

.calculator span.minus_3 {
    background: yellow;
    color: black;
}

.calculator span.minus_3:hover {
    background: black;
    color: yellow;
}

.calculator span.trak_numb {
    background: red;
    color: yellow;
    font-size: 25px;
}

.calculator span.trak_numb:hover {
    background: black;
}

.calculator span.trak_numb:active {
    background: white;
    color: red;
}

.calculator span.over_numb {
    background: red;
}

.calculator span.over_numb:hover {
    background: white;
    color: red;
}

.calculator span.over_numb:active {
    background: black;
    color: white;
}