
/* @import url('https://fonts.googleapis.com/css2&family=Poppins:wght@400;500;600;700&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

HTML {
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
}

html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.search-box {
    position: relative;
    width: 60px;
    height: 60px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box active {
    width: 350px;
}

.search-box input {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 28px;
    border-radius: 50px;
    padding: 0 60px 0 20px;
    outline: none;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box input.active {
    opacity: 1;
}

.search-box .search-btn {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #fff;
    color: #ff3cac;
    text-align: center;
    line-height: 50px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box .search-btn.active {
    right: 5px;
    background-color: #ff3cac;
    color: #fff;
    transform: translateY(-50%) rotate(360deg);
}

.search-box .cancel-btn {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box .cancel-btn.active {
    right: -40px;
    transform: translateY(-50%) rotate(360deg); 
}

.search-data {
    color: white;
    font-size: 18px;
}

.search-box .search-data {
    text-align: center;
    padding: 7px;
    word-wrap: break-word;
}

.search-box .search-data.active {
    display: none;
}
