* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Hippotamus Apocalypse';
}

.slider {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.item {
    user-select: none;
    border: 1px solid black;
    cursor: default;
    /* cursor: pointer; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    transition: all 2s;
}

.item:hover {
    flex-basis: 70%;   
}

a {
    text-decoration: none;
    color: inherit;
}

span {
    color: white;
    font-size: 35px;
    text-shadow: 5px 10px 5px black;
}

.item:hover span {
    font-size: 45px;
    transition: 1s;
}

.hexagon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 180px;
    height: 190px;
    background: #111;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

@keyframes anime {

    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.hexagon2 {
    animation: anime 2s linear infinite;
    background: #0f0;
}

@media screen and (min-width: 300px) and (max-width: 800px) {
    .slider {
        height: 100vh;
        flex-direction: column;
        overflow: visible;
    }
    
    .item {
        width: 100%;
        user-select: none;
        cursor: none;
    }

    .item-h {
        display: none;
    }
    
    .item:hover {
        flex-grow: 25%;
    }    
}
