/* @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif, cursive;
    user-select: none;
}

body {
    background: rgb(117, 2, 2);
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
	overflow: hidden;
}

section h2 {
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    line-height: 100vh;
    font-size: 10vw;
    color: #fff;
    font-weight: 700;
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
	perspective: 500px;
    transform-style: preserve-3d;
}

.banner .blocks {
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
    border-radius: 5px;
    animation: animate 2s ease-in-out forwards;
	clip-path: inset(0 90% 90% 0);
}

@keyframes animate {
    0% {
        transform: translateZ(2000px);
        background: url(bg.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }

    100% {
        transform: translateZ(0px);
        background: url(bg.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    }
}

section.active .banner .blocks {
    animation: animateTwo 2s ease-in-out forwards;
    background: url(bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
}

@keyframes animateTwo {
    0% {
        transform: translateZ(0px);
        background: url(bg.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    }

    100% {
        transform: translateZ(2000px);
        background: url(bg.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
}
