@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(10, 1, 29);
    /* min-height: 1475px; */
    min-height: 150vh;
}

section {
    position: relative;
    height: 125vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,rgb(10,1,29), transparent);
    z-index: 100;
    bottom: 0;
}

section::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(10,1,29);
    z-index: 100;
    mix-blend-mode: color;
}

section img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    cursor: pointer;
    text-align: center;
    width: 250px;
    height: 75px;
    color: #cc21cf;
    font-size: 50px;
    text-decoration: none;
    border-radius: 40px;
    background: linear-gradient(135deg, #8a508b 0%, #434461 100%);
}

button:hover {
    background: #393945;
    color: #8a508b;
    text-shadow: #393945 1px 2px 4px;
}

#text {
    position: relative;
    color: white;
    font-size: 100px;
    z-index: 1;
}

#road {
    z-index: 2;
}

.second {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 175px 0;
}

@media screen and (min-width: 300px) and (max-width: 800px) {
    #text {
        text-align: center;
    }

    section {
        height: 150vh;
    }

    body {
        min-height: 165vh;
    }

    .second {
        padding: 275px 0;
    }
}