
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow: auto;
    overflow-y: scroll;
}

.container .box {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
}

.container .box img {
    max-width: 80%;
    min-width: 50%;
    box-shadow: 0 25px 50px rgba(0,0,0,0.5);
}

.container .box:nth-child(17) img {
    height: calc(100% - 50px);
    object-fit: cover;
    object-position: center;
}

@media screen and (min-width: 300px) and (max-width: 800px) {
    .container .box:nth-child(17) img {
        height: 300px;
    }
}
